@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Italianno&display=swap');

ul{
    list-style-type: none;
}

.principal{
    background-image: url('../media/fondo1.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 1340px;
    height: 768px;
}
#titles1{
    font-family: 'Italianno';
    font-size: 100px;
    color: aliceblue;
}
#subtitles1{
    font-family: 'Italianno';
    font-size: 50px;
    color: aliceblue;
}
#titles2{
    font-family: 'Italianno';
    font-size: xx-large;
    color: aliceblue;
}
.section1{
    background-image: url('../media/fondo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 1340px;
    height: 768px;
}
@font-face{
    font-family: 'Italianno', cursive;
    src: url('Italianno-Regular.ttf');
}

.navbar{
    display: inline;
}