@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Italianno&display=swap');
@font-face{
    font-family: 'Italianno', cursive;
    src: url('Italianno-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(255, 255, 255);
    font-weight: normal;
}

header{
    background-image: url('../media/fondo1.jpg');
    background-size: cover;
    height: 667px;
    width: 100%;
}
aside {
    background-color: #ffffff;
    width: 50%;
    height: 667px;
}
#al_title{
    font-size: 130px;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    padding-top: 255px;
    padding-left: 59px;
}

#al_subt{
    font-size: 50px;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    color:rgb(0, 0, 0);
    padding-left: 59px;
}
.conteiner{
    display: flex;
    align-items: center;
    padding: 59px;
    
}
.button{
    display: flex;
    
}
.btn{
    text-decoration: none;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 1.25rem;
    position: relative;
}

.btn-1{
    background-color: black;
    color:white;
    border-radius: 30px;
    transition: transform 0.3s ease;

}
.btn-1::after, .btn-1::before{
    content:'';
    position:absolute;
    opacity: 0.3;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: transform 0.3s ease;
}
.btn-1:hover{
    transform: translate(-12px, -12px);
}
.btn-1:hover::after{
    transform: translate(6px, 6px);
}
.btn-1:hover::before{
    transform: translate(12px, 12px);
}
#buttomCM{
    text-decoration: none;
    
}









main{
    background-image: url('../media/fondo2.jpg');
    background-size: cover;
    height: 667px;
    width: 100%;
}
nav{
    width: 100%;
    background-color:black
}
.menu{
    font-family: 'Joan', serif;
    background-color: rgb(255, 255, 255);
    height: 75px;
    /* width: 202.2vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-family: 'Italianno', cursive;
    font-weight: normal;
    font-size: 35px;
    padding: 0 80px;
}
.menu_items, .menu_items_2{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items_2{
    margin-right: 30px;

}
.menu_items li{
    border-radius: 3px;
    margin: 0 20px;
}
.menu_items_2 li{
    border-radius: 3px;
    margin: 0 50px;

}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.menu_items_2 li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}


/* EFECTO NAVBAR */

.menu_items li:hover, li:active {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    border-radius: 25px;
    
}
.menu_items_2 li:hover, li:active {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    border-radius: 25px;
    
}






.logo a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.sec_about{
    display: flex;
    justify-content: flex-start;
    padding-top: 90px;
}

.about{
    color: white;
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    font-size: 35px;
    margin-left: 100px;
}
.conteiner_main{
    display: flex;
    justify-content: flex-start;
    padding: 59px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.button_main{
    display: flex;
    margin-left: 0.2px;
    
}
.btn_main{
    text-decoration: none;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 1.25rem;
    position: relative;
}

.btn-main{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 30px;
    transition: transform 0.3s ease;

}
.btn-main::after, .btn-main::before{
    content:'';
    position:absolute;
    opacity: 0.3;
    background: rgb(255, 255, 255);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: transform 0.3s ease;
}
.btn-main:hover{
    transform: translate(-12px, -12px);
}
.btn-main:hover::after{
    transform: translate(6px, 6px);
}
.btn-main:hover::before{
    transform: translate(12px, 12px);
}





.iframe_maps{
    width: 100%;
    height: 333.5px;
    background-color: rgb(0, 0, 0);
    
}
#iframe1{
    
    width: 60%;
    height: 333.5px;
    border: 0;
    float:right;

}

#iframe_text{
    font-family: 'Joan', serif;
    font-size: 90px;
    padding-left: 90px;
    text-align: center;
    float: left;
    color: white;


}
footer{
    width: 100%;
    height: 333.5px;
    background-color: #ffffff;
}
.logo_footer{
    display: flex;
    justify-content: center;
    height: 80px;
}
.logo_footer a{
    font-family: 'italianno', 'coursive';
    font-size: 90px;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.copyright_footer{
    display: flex;
    justify-content: center;
    align-content: top;
    padding-bottom: 10px;
}

.facebook_card,
.instagram_card, 
.twitter_card, 
.whatsapp_card, 
.linkedin_card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    background-color: #ffffff;
    box-shadow: 0 5px 15px -5px #00000070;
    width: 20%;
    border-radius: 30px;
}

.social_media{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
}


/* FACEBOOK CARD STYLE */
.facebook_card,
.instagram_card, 
.twitter_card, 
.whatsapp_card, 
.linkedin_card i{
    font-size: 50px;
    color:#000000
}
#facebook_link{
    font-family: 'Tai Heritage Pro', serif;
    font-size: 25px;
    text-decoration: none;
    color:#000000

}
/* FACEBOOK CARD BUTTON STYLE */
